.table-container {
  min-width: 600px;
  margin: auto;
}

.table-container table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #dddddd;

  /* display: flex;
  flex-grow: 1; */

}

.table-container td,
th {
  border-right: 1px solid #dddddd;
  text-align: left;
  padding: 0.8rem;
  min-width: 100px;
  text-transform: capitalize;
  flex-basis: 10%;
  font-size: 2rem;
  text-align: center;
  /* display: flex;
  flex-grow: 1; */
}

.table-container td {
  font-size: 1.6rem;

}

.table-container th {
  border-bottom: 1px solid #bfbebe;

}

.table-container tr:nth-child(even) {
  background-color: #f7f7f7;
}


.parking-lot__state>.parking-lot__state__info {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  align-items: flex-start;

}

.parking-lot>.parking-lot__state {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

.parking-lot>.parking-lot__state>div {
  flex-basis: 40%;
}

.parking-lot>.parking-lot__state>.parking-lot__state__actions {
  display: flex;
  flex-direction: row;
}

.parking-lot>.parking-lot__state>.parking-lot__state__actions>button {
  margin: 0 1rem
}

.parking-lot .parking-lot__filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.parking-lot .parking-lot__filters>* {
  flex-basis: 20%;
  margin: 1rem;
}

.parking-lot  > div{
  margin:  2rem 0 ;
}


.parking-lot > .parking-lot--slots-full {
  display:block;
  transition: height 1.25s ease-in-out;
  padding: 1rem;
  font-size: 1.2rem;
  color: red;
  background-color: #f2bfbf;
}
.parking-lot > .parking-lot--slots-avail{
  display: none;
}



/* .parking-lot .parking-lot__filters  .parking-lot__filters__act */